/TinyRecursiveModels/checkpoints
/TinyRecursiveModels/data
/TRM_WU_Project/pretrained_base_ckpt/ARC-AGI-1
/TRM_WU_Project/data/arc1concept-aug-1000
/TRM_WU_Project/logs
/TRM_WU_Project/checkpoints
/TRM_WU_Project/CodeCircuit_TRM_Arc1/checkpoints
/TRM_WU_Project/CodeCircuit_TRM_Arc1/results
/TRM_WU_Project/CodeCircuit_TRM_Arc1/runs
/TRM_WU_Project/CodeCircuit_TRM_Arc1/local_logs
